In [1]:
web={
    'header':'header.html',
    'footer':'footer.html',
    'content':''
}

In [2]:
# Filename to string object. Defining variable

def readfile(filename:str):
    """
    takes in a file name and reads it
    """ 
    with open(filename, "r") as file_handle:
        file_contents = file_handle.read()
        
        return file_contents

def create_index(filename:str,filecontent:str):
    with open(filename, "w") as file_handle:
        file_handle.write(filecontent)

In [3]:
header_content=readfile(web['header'])
print(header_content)

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Github Web Page</title>

    <style>

        h1{
        display: block;
        font-size: 2em;
        margin-top: 0.67em;
        margin-bottom: 0.67em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
        font-family" 'Gill Sans', 'Gill Sans MT', Calibi, 'top';
        }
    </style>
</head>


<! -- anything about is default html header file
<! -- automatic

In [4]:
footer_content=readfile(web['footer'])
print(footer_content)

</body>
</html>

In [5]:
import pandas as pd
import random as r

In [6]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
x=list(range(1,11))
y=[r.randint(1,100) for i in x]

data={
    'x':x,
    'y':y
}

In [8]:
df=pd.DataFrame(data)

In [9]:
df

    x   y
0   1  80
1   2  86
2   3  70
3   4  15
4   5  52
5   6  96
6   7  45
7   8  77
8   9  72
9  10  89

In [10]:
web['content']=df.to_html(index=False,table_id='sales')

In [11]:
web['content']

'<table border="1" class="dataframe" id="sales">\n  <thead>\n    <tr style="text-align: right;">\n      <th>x</th>\n      <th>y</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <td>1</td>\n      <td>80</td>\n    </tr>\n    <tr>\n      <td>2</td>\n      <td>86</td>\n    </tr>\n    <tr>\n      <td>3</td>\n      <td>70</td>\n    </tr>\n    <tr>\n      <td>4</td>\n      <td>15</td>\n    </tr>\n    <tr>\n      <td>5</td>\n      <td>52</td>\n    </tr>\n    <tr>\n      <td>6</td>\n      <td>96</td>\n    </tr>\n    <tr>\n      <td>7</td>\n      <td>45</td>\n    </tr>\n    <tr>\n      <td>8</td>\n      <td>77</td>\n    </tr>\n    <tr>\n      <td>9</td>\n      <td>72</td>\n    </tr>\n    <tr>\n      <td>10</td>\n      <td>89</td>\n    </tr>\n  </tbody>\n</table>'

In [12]:
index_content=header_content+web['content']+footer_content

In [13]:
index_content

'<!DOCTYPE html>\n<html lang="en">\n<head>\n    <meta charset="UTF-8">\n    <meta name="viewport" content="width=device-width, initial-scale=1.0">\n    <title>Github Web Page</title>\n\n    <style>\n\n        h1{\n        display: block;\n        font-size: 2em;\n        margin-top: 0.67em;\n        margin-bottom: 0.67em;\n        margin-left: 0;\n        margin-right: 0;\n        font-weight: bold;\n        font-family" \'Gill Sans\', \'Gill Sans MT\', Calibi, \'top\';\n        }\n    </style>\n</head>\n\n\n<! -- anything about is default html header file\n<! -- automatic<table border="1" class="dataframe" id="sales">\n  <thead>\n    <tr style="text-align: right;">\n      <th>x</th>\n      <th>y</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <td>1</td>\n      <td>80</td>\n    </tr>\n    <tr>\n      <td>2</td>\n      <td>86</td>\n    </tr>\n    <tr>\n      <td>3</td>\n      <td>70</td>\n    </tr>\n    <tr>\n      <td>4</td>\n      <td>15</td>\n    </tr>\n    <tr>\n      <td>5</td>\n      <td>52</td>\n    </tr>\n    <tr>\n      <td>6</td>\n      <td>96</td>\n    </tr>\n    <tr>\n      <td>7</td>\n      <td>45</td>\n    </tr>\n    <tr>\n      <td>8</td>\n      <td>77</td>\n    </tr>\n    <tr>\n      <td>9</td>\n      <td>72</td>\n    </tr>\n    <tr>\n      <td>10</td>\n      <td>89</td>\n    </tr>\n  </tbody>\n</table></body>\n</html>'

In [14]:
create_index('index.html',index_content)

In [15]:
header_content=readfile(web['header'])
footer_content=readfile(web['footer'])
web['content']=df.to_html(index=False,table_id='sales')
index_content=header_content+web['content']+footer_content
create_index('index.html',index_content)

In [16]:
df

    x   y
0   1  80
1   2  86
2   3  70
3   4  15
4   5  52
5   6  96
6   7  45
7   8  77
8   9  72
9  10  89